{{define "home"}}
<!DOCTYPE html>
<html data-theme="light" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/assets/css/pico.jade.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>9B - Link Aggregator</title>
  </head>
  <body>
    <header class="container">
      {{template "nav" .}}
    </header>
    <main class="container">
      {{range $post:= .Posts}}
        <article class="post">
          <header>
            <div class="score">
              <button
                class="{{if not $post.UserUpvoted}}outline{{end}}"
                aria-label="Upvote">&uarr;</button>
              <p>{{$post.Score}}</p>
              <button
                class="{{if not $post.UserDownvoted}}outline{{end}}"
                aria-label="Downvote">&darr;</button>
            </div>
            <div>
              <h3>
              {{if eq $post.URL ""}}
                <a href="/posts/{{$post.Id}}">{{$post.Title}}</a>
              {{else}}
                <a href="{{$post.URL}}">{{$post.Title}}</a>
              {{end}}
              </h3>
              by <a href="/?user={{$post.Author}}">{{$post.Author}}</a>,
              {{with $post.Date.Format "2006-01-02 15:04"}}
                <time datetime="{{.}}" data-tooltip="{{.}}" data-placement="bottom">{{timehumanize $post.Date}}</time>.
              {{end}}
            </div>
          </header>
          {{if $post.Body}}
            <div class="expandable">
              {{range $p := $post.Body | split "\n\n"}}
                <p>{{$p}}</p>
              {{end}}
            </div>
            <footer>
              {{if eq $post.Comments 0}}
                <a role="button" href="/posts/{{$post.Id}}">Discuss</a>
              {{else if eq $post.Comments 1}}
                <a role="button" href="/posts/{{$post.Id}}">1 Comment</a>
              {{else}}
                <a role="button" href="/posts/{{$post.Id}}">{{$post.Comments}} Comments</a>
              {{end}}
            </footer>
          {{else}}
            {{if eq $post.Comments 0}}
              <a role="button" href="/posts/{{$post.Id}}">Discuss</a>
            {{else if eq $post.Comments 1}}
              <a role="button" href="/posts/{{$post.Id}}">1 Comment</a>
            {{else}}
              <a role="button" href="/posts/{{$post.Id}}">{{$post.Comments}} Comments</a>
            {{end}}
          {{end}}
        </article>
      {{end}}
    </main>
    <script src="/assets/js/index.js"></script>
  </body>
</html>
{{end}}
