{{define "login"}}
<!DOCTYPE html>
<html lang="en">
<head>
{{template "meta"}}
{{template "css"}}
<title>{{template "service_name"}} - Log In</title>
</head>
<body>
<header class="container-fluid">{{template "nav"}}</header>
<main class="container">
<h1>Log In</h1>
<p>Or {{ if .Goto -}}
<a href="/signup?goto={{ .Goto }}">
{{- else -}}
<a href="/signup">
{{- end -}}
sign up</a> for a new account.</p>
<form method="post">
  {{ if .Goto -}}
  <input type="hidden" name="goto" value="{{ .Goto }}">
  {{ end -}}
  <fieldset>
    <label for="username">
      Username
      <input
            type="text"
            name="username"
            required
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            autofocus="true">
    </label>
    <label for="password">
      Password
      <input
            type="password"
            name="password"
            required 
            autocomplete="current-password">
    </label>
  </fieldset>
  <input type="submit" value="Log in">
</form>
{{ if .Err -}}
<p>{{ .Err }}</p>
{{ end -}}
</main>
</body>
</html>
{{end}}
