{{define "modal_change_password"}}
<dialog id="modal-change-password">
  <article>
    <header>
      <button
        aria-label="Close"
        rel="prev"
        data-target="modal-change-password"
        onclick="toggleModal(event)">
      </button>
      <h3>Change Password</h3>
    </header>
    <form action="/change-password" method="post" id="change-password-form" onsubmit="submitForm(event)" target-error="#change-password-current-password">
      <fieldset>
        <label for="login-password">
          Current Password
          <input
            type="password"
            name="current_password"
            id="change-password-current-password"
            required
            aria-describedby="change-password-current-password-invalid-helper"
            autocomplete="current-password">
          <small id="change-password-current-password-invalid-helper"></small>
        </label>
        <label for="login-password">
          New Password
          <input
            type="password"
            name="new_password"
            id="change-password-new-password"
            required
            autocomplete="new-password">
        </label>
      </fieldset>
      <input type="submit" id="login-submit" value="Log in">
    </form>
  </article>
</dialog>
{{end}}
