{{define "modal_signup"}}
<dialog id="modal-signup">
  <article>
    <header>
      <button
        aria-label="Close"
        rel="prev"
        data-target="modal-signup"
        onclick="toggleModal(event)">
      </button>
      <h3>Sign Up</h3>
    </header>
    <form action="/signup" method="post" id="signup-form" onsubmit="submitForm(event)" target-error="#signup-username">
      <fieldset>
        <label for="signup-username">
          Username
          <input
            type="text"
            name="username"
            id="signup-username"
            pattern="^~?[a-z0-9]+([\.\-][a-z0-9]+)*@?[a-z0-9][a-z0-9]+([\.\-][a-z0-9]+)*$"
            required
            autofocus="true"
            spellcheck="false"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="username"
            aria-describedby="signup-username-invalid-helper">
          <small id="signup-username-invalid-helper"></small>
        </label>
        <label for="signup-password">
          Password
          <input
            type="password"
            name="password"
            id="signup-password"
            required
            autocomplete="new-password">
        </label>
      </fieldset>
      <input type="submit" id="signup-submit" value="Sign up">
    </form>
  </article>
</dialog>
{{end}}
