{{define "meta"}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="color-scheme" content="light dark">
{{- end}}

{{define "css"}}
<link rel="stylesheet" href="/assets/css/pico.grey.min.css">
{{- end}}

{{define "js"}}
<script src="/assets/js/common.js"></script>
{{end}}

{{define "nav"}}
<nav>
  <ul>
    <li><strong>9B Forum</strong></li>
  </ul>
  <ul>
    {{if .User}}
      <li>
        <details class="dropdown">
          <summary>Account</summary>
          <ul dir="rtl">
            <li><a href="/u/{{.User.Username}}">Profile</a></li>
            <li><a href="#" data-target="modal-change-password" onclick="toggleModal(event)">Change Password</a></li>
            <li><a href="#" data-target="modal-logout" onclick="toggleModal(event)">Log out</a></li>
          </ul>
        </details>
      </li>
    {{else}}
      <li>
        <button class="contrast" data-target="modal-signup" onclick="toggleModal(event)">
          Sign Up
        </button>
      </li>
      <li>
        <button class="outline contrast" data-target="modal-login" onclick="toggleModal(event)">
          Log In
        </button>
      </li>
    {{end}}
  </ul>
  {{if .User}}
    {{template "modal_change_password"}}
    {{template "modal_logout"}}
  {{else}}
    {{template "modal_signup"}}
    {{template "modal_login"}}
  {{end}}
</nav>
{{end}}

{{define "service_name"}}9B{{end}}
