{{define "signup"}}
<!DOCTYPE html>
<html lang="en">
<head>
  {{template "meta"}}
  {{template "css"}}
  <title>{{template "service_name"}} - Sign Up</title>
</head>
<body>
<header class="container-fluid">{{template "nav"}}</header>
<main class="container">
<h1>Sign Up</h1>
<p>Or {{ if .Goto -}}
<a href="/login?goto={{ .Goto }}">
{{- else -}}
<a href="/login">
{{- end -}}
log in</a> to your account.</p>
<form method="post">
  {{ if .Goto -}}
  <input type="hidden" name="goto" value="{{ .Goto }}">
  {{ end -}}
  <fieldset>
    <label for="username">
      Username
      <input
            type="text"
            name="username"
            pattern="^~?[a-z0-9](?:[-.]?[a-z0-9]+)*(@[a-z0-9](?:[-.]?[a-z0-9]+)?)?$"
            required
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            autofocus="true">
    </label>
    <label for="password">
      Password
      <input
            type="password"
            name="password"
            required 
            autocomplete="new-password">
    </label>
  </fieldset>
  <input type="submit" value="Sign up">
</form>
{{ if .Err -}}
<p>{{ .Err }}</p>
{{ end -}}
</main>
</body>
</html>
{{end}}
