{{define "user"}}
<!DOCTYPE html>
<html lang="en">
<head>
  {{template "meta"}}
  {{template "css"}}
  <title>{{template "service_name"}} - /u/{{.Username}}</title>
</head>
<body>
<main class="container-fluid">
{{template "nav"}}
<!-- {{if .IsSelf -}} -->
<!-- <form method="post"> -->
  <!-- <table> -->
    <!-- <tbody> -->
      <!-- <tr> -->
        <!-- <td><label for="current_password">Current Password:</label></td> -->
        <!-- <td><input -->
              <!-- type="password" -->
              <!-- name="current_password" -->
              <!-- required --> 
              <!-- autocomplete="current-password" /> -->
        <!-- </td> -->
      <!-- </tr> -->
      <!-- <tr> -->
        <!-- <td><label for="new_password">New Password:</label></td> -->
        <!-- <td><input -->
              <!-- type="password" -->
              <!-- name="new_password" -->
              <!-- required --> 
              <!-- autocomplete="new-password" /> -->
        <!-- </td> -->
      <!-- </tr> -->
    <!-- </tbody> -->
  <!-- </table> -->
  <!-- <input type="submit" value="Change password"> -->
<!-- </form> -->
<!-- {{end -}} -->
{{if .Err -}}
<p>{{ .Err }}</p>
{{end -}}
{{range $val := .Posts -}}
<hgroup>
<h2>
{{- if eq $val.Url "" -}}
{{$val.Title}}
{{- else -}}
<a href={{$val.Url}}>{{$val.Title}}</a>
{{- end -}}
</h2>
<p>{{- if eq $val.Score 1}}{{$val.Score}} point
{{- else}}{{$val.Score}} points
{{- end}} by <a href="{{$.Username}}">{{$.Username}}</a></p>
</hgroup>
{{- range $p :=  $val.Body | split "\n" -}}
<p>{{$p}}</p>
{{end -}}
{{end -}}
</main>
</body>
</html>
{{end}}
