{{define "user"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "meta"}}
    {{template "css"}}
    <title>{{template "service_name"}} - /u/{{.UserOther.Username}}</title>
  </head>
  <body>
    <header class="container">
      {{template "nav" .}}
    </header>
    <main class="container">
      {{range $val := .Posts}}
        <hgroup>
          <h2>
          {{if eq $val.Url ""}}
          {{$val.Title}}
          {{else}}
          <a href={{$val.Url}}>{{$val.Title}}</a>
          {{end}}
          </h2>
          <p>
            {{if eq $val.Score 1}}{{$val.Score}} point
            {{else}}{{$val.Score}} points
            {{end}} by <a href="{{$.UserOther.Username}}">{{$.UserOther.Username}}</a>
          </p>
        </hgroup>
        {{range $p :=  $val.Body | split "\n"}}
          <p>{{$p}}</p>
        {{end}}
      {{end}}
    </main>
    {{template "js"}}
  </body>
</html>
{{end}}
